.sidebar {
  width: 10vw;
  height: 100vh;
  background-color: #142454;
  color: white;
  padding-top: 1rem;
  position: fixed;
  top: 10vh;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 1rem;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #34495e;
}
