.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100; /* subir por encima del nav */
  animation: fadeIn 0.25s ease-in-out;
}

.modal {
  background: #fff;
  border-radius: 16px;
  width: 90%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  animation: scaleUp 0.25s ease-in-out;
  z-index: 1101; /* modal por encima del overlay */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Scroll elegante */
.modal::-webkit-scrollbar {
  width: 8px;
}
.modal::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}
.modal::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
