/* Contenedor principal de la tabla */
.tableContainer {
  width: 90%;
  padding: 20px;
  background-color: #f8f9fa; /* Fondo claro para resaltar la tabla */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  
}
/*contenedor delalista*/
.list{
  display: flex;
  flex-direction: column;  
  width:  100%;
}
/* Título de la tabla */

.title{
  font-size: 24px;
  color: #142454; /* Color principal (azul oscuro) */
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid  #142454;/* Ajusta el color y el grosor a tu gusto */
   border-top: 2px solid  #142454;
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
  padding-top: 10px;
}
/* Estilos generales de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; /* Fondo blanco para la tabla */
  border-radius: 8px;
  overflow: hidden;
}

/* Estilo de las cabeceras */
th {
  background-color: #142454; /* Color principal en el encabezado */
  color: #fff; /* Blanco para el texto */
  padding: 12px;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Estilo de las celdas de la tabla */
td {
  padding: 12px;
  text-align: left;
  font-size: 16px;
  color: #444c74; /* Color secundario */
  border-bottom: 1px solid #bebecd; /* Borde suave en las filas */
}

tr:hover {
  background-color: #e4e9f0; /* Color de fondo al hacer hover */
  cursor: pointer;
}

/* Estilos para el botón */
.actionButton {
  background-color:transparent; /* Color principal para el botón */
  color: #142454; /* Texto blanco */
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.actionButton:hover {
  background-color:  #142454; /* Color más oscuro en el hover */
  color: white;
  transform: scale(1.05); /* Efecto de aumento para el hover */
}

.actionButton:focus {
  outline: none;
}

/* Mensaje de "no hay formularios" */
.noFormsMessage {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}

/* Responsividad: Ajustes en pantallas más pequeñas */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  .actionButton {
    padding: 6px 12px;
    font-size: 12px;
  }
}
