/* Contenedor principal de detalles */
.formDetailsContainer {
  background-color: var(--color-fondo-claro);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 
}

/* config para poner en dos filas los inputs*/
.dosColumnas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
/* Título del formulario */
.formTitle {
  color: var(--color-primario);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Detalles del formulario */
.formDetails {
  display: grid;
  gap: 15px;
}

/* Estilo de los campos del formulario */
.formField {
  display: flex;
  flex-direction: column;
  
}

.formField label {
  font-size: 14px;
  color: var(--color-secundario);
  margin-bottom: 5px;
}

.formInput {
  padding: 10px;
  border: 1px solid var(--borde);
  border-radius: 5px;
  font-size: 16px;
  color: var(--texto-principal);
  background-color: var(--blanco);
}

/* Estilo para el checkbox */
.formCheckboxWrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el label y el checkbox */
}

.formCheckbox {
  transform: scale(1.2);  /* Tamaño ligeramente mayor */
}

/* Estilo del contenedor del slider de edición */
.sliderContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.sliderLabel {
  font-size: 14px;
  color: var(--color-secundario);
}

.slider {
  width: 50px;
  height: 25px;
  background-color: #ccc; /* Fondo gris claro cuando no está activado */
  border-radius: 15px;
  position: relative;
  appearance: none;
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Fondo cuando el slider está activado */
.slider:checked {
  background-color: var(--color-primario); /* Cambia el fondo cuando está activado */
}

/* Estilo del círculo dentro del slider */
.slider:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Mover el círculo a la derecha cuando el slider está activado */
.slider:checked:before {
  transform: translateX(25px);
}



.sliderLabel {
  font-weight: 600;
  color: #333;  /* Color más oscuro para la etiqueta */
}



/*Datos postulantes*/

.subTitle{
  text-align: center;
  color:  #142454;
  border-bottom: 2px solid  #142454;; /* Ajusta el color y el grosor a tu gusto */
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
}

/* Acciones (botones) */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttonSave {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.buttonSave {
  background-color: var(--color-secundario);
  color: var(--blanco);
}

.buttonSave:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

/* Efectos hover para los botones */
.buttonSave:hover {
  background-color: var(--color-primario);
}


/* Estilos para los botones deshabilitados */

.buttonSave:disabled:hover {
  background-color: var(--color-disabled);
  
}

/* Estilo del div que envuelve el botón de cierre */
.buttonWrapper {
  position: absolute; /* Lo posicionamos de manera absoluta */
  top: 10px;           /* Desde la parte superior */
  right: 10px;         /* Alineado a la derecha */
  z-index: 10;         /* Aseguramos que el botón quede por encima de otros elementos */
}

/* Estilo del botón cerrar */
.buttonCloseTop {
  background-color: red; /* Fondo rojo */
  border: none;
  color: white; /* Texto blanco */
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%; /* Hacemos que el botón sea redondo */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.buttonCloseTop:hover {
  background-color: darkred; /* Cambia a un rojo más oscuro al pasar el cursor */
}

/* Aseguramos que el contenedor principal tenga un contexto relativo para posicionar correctamente el botón */
.formDetailsContainer {
  position: relative; /* Relativo para que los elementos dentro se posicionen en relación con él */
}


